@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  /* 
    Custom font
  */
  --font-josefin: "Josefin Sans", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  /*
  Custom colors
  */
  --color-tp-primary: oklch(92.81% 0.184 102.69);
  --color-tp-secondary: oklch(85.01% 0.137 208.48);
  --color-tp-tertiary: oklch(55.98% 0.155 134.74);
  --color-tp-warning: oklch(56.23% 0.177 39.18);
  --color-tp-typography: oklch(92.22% 0.001 286.37);
  --color-tp-typography-secondary: oklch(17.73% 0.009 264.32);
  --color-tp-background: oklch(18.11% 0.002 197.01);
  --color-tp-main-background: oklch(18.11% 0.002 197.01);
  --color-tp-divider: oklch(66.48% 0.034 263.43);
  --color-tp-input-back: oklch(0.1398 0 0);
  --color-tp-card-back: oklch(0.0672 0 0); /* #010101 */

  /* 
    Loader color
  */
  --color-tp-loader-transparent: oklch(98.73% 0.03 100.86 / 0.05);

  /*
    Colors
  */
  --color-sunbeam-yellow-50: oklch(98.73% 0.03 100.86);
  --color-sunbeam-yellow-100: oklch(97.76% 0.059 102.29);
  --color-sunbeam-yellow-200: oklch(95.82% 0.114 102.92);
  --color-sunbeam-yellow-300: oklch(94.17% 0.157 103.13);
  --color-sunbeam-yellow-400: oklch(92.81% 0.184 102.69);
  --color-sunbeam-yellow-500: oklch(91.47% 0.191 101.03);
  --color-sunbeam-yellow-600: oklch(77.54% 0.162 101.53);
  --color-sunbeam-yellow-700: oklch(62.73% 0.131 101.72);
  --color-sunbeam-yellow-800: oklch(46.97% 0.098 102.09);
  --color-sunbeam-yellow-900: oklch(29.72% 0.062 103.01);
  --color-sunbeam-yellow-950: oklch(24.05% 0.051 102.7);

  --color-olive-leaf-50: oklch(97.85% 0.027 129.79);
  --color-olive-leaf-100: oklch(95.66% 0.056 130.58);
  --color-olive-leaf-200: oklch(91.59% 0.111 131.29);
  --color-olive-leaf-300: oklch(87.89% 0.161 131.94);
  --color-olive-leaf-400: oklch(84.48% 0.203 133.31);
  --color-olive-leaf-500: oklch(81.22% 0.23 135.15);
  --color-olive-leaf-600: oklch(69.02% 0.194 135.02);
  --color-olive-leaf-700: oklch(55.98% 0.155 134.74);
  --color-olive-leaf-800: oklch(42.08% 0.114 134.6);
  --color-olive-leaf-900: oklch(26.96% 0.067 133.56);
  --color-olive-leaf-950: oklch(21.88% 0.052 131.91);

  --color-crimson-carrot-50: oklch(95.96% 0.02 48.5);
  --color-crimson-carrot-100: oklch(92.01% 0.041 46.68);
  --color-crimson-carrot-200: oklch(84.25% 0.087 45.48);
  --color-crimson-carrot-300: oklch(77.19% 0.132 44.96);
  --color-crimson-carrot-400: oklch(71.12% 0.176 43.32);
  --color-crimson-carrot-500: oklch(66.21% 0.21 38.84);
  --color-crimson-carrot-600: oklch(56.23% 0.177 39.18);
  --color-crimson-carrot-700: oklch(45.62% 0.14 39.78);
  --color-crimson-carrot-800: oklch(34.54% 0.103 41);
  --color-crimson-carrot-900: oklch(22.52% 0.059 45.97);
  --color-crimson-carrot-950: oklch(18.81% 0.046 50.53);

  --color-muted-olive-50: oklch(96.74% 0.011 136.56);
  --color-muted-olive-100: oklch(93.27% 0.02 135.83);
  --color-muted-olive-200: oklch(86.72% 0.043 134.25);
  --color-muted-olive-300: oklch(79.86% 0.064 134.98);
  --color-muted-olive-400: oklch(73.22% 0.087 134.75);
  --color-muted-olive-500: oklch(66.27% 0.108 135.42);
  --color-muted-olive-600: oklch(56.5% 0.091 135.12);
  --color-muted-olive-700: oklch(45.98% 0.071 135.52);
  --color-muted-olive-800: oklch(35.15% 0.052 134.99);
  --color-muted-olive-900: oklch(23.02% 0.028 136.29);
  --color-muted-olive-950: oklch(19.38% 0.022 136.5);

  --color-radioactive-grass-50: oklch(97.73% 0.032 136.63);
  --color-radioactive-grass-100: oklch(95.42% 0.062 135.71);
  --color-radioactive-grass-200: oklch(91.22% 0.122 136.09);
  --color-radioactive-grass-300: oklch(87.47% 0.178 136.67);
  --color-radioactive-grass-400: oklch(84.47% 0.225 137.57);
  --color-radioactive-grass-500: oklch(81.79% 0.252 139.02);
  --color-radioactive-grass-600: oklch(69.31% 0.212 138.92);
  --color-radioactive-grass-700: oklch(55.97% 0.169 138.73);
  --color-radioactive-grass-800: oklch(42.07% 0.124 138.43);
  --color-radioactive-grass-900: oklch(26.91% 0.074 137.49);
  --color-radioactive-grass-950: oklch(21.91% 0.058 135.79);

  --color-pacific-blue-50: oklch(96.85% 0.012 209.81);
  --color-pacific-blue-100: oklch(93.48% 0.023 210.4);
  --color-pacific-blue-200: oklch(87.27% 0.046 210.17);
  --color-pacific-blue-300: oklch(80.88% 0.068 210.33);
  --color-pacific-blue-400: oklch(74.96% 0.086 209.96);
  --color-pacific-blue-500: oklch(69.08% 0.1 211.37);
  --color-pacific-blue-600: oklch(58.8% 0.084 210.99);
  --color-pacific-blue-700: oklch(47.78% 0.067 211.89);
  --color-pacific-blue-800: oklch(36.36% 0.05 211.43);
  --color-pacific-blue-900: oklch(23.66% 0.028 211.46);
  --color-pacific-blue-950: oklch(19.71% 0.021 211.92);

  --color-sky-aqua-50: oklch(97.59% 0.023 206.62);
  --color-sky-aqua-100: oklch(95.29% 0.045 204.91);
  --color-sky-aqua-200: oklch(90.97% 0.086 206.75);
  --color-sky-aqua-300: oklch(87.59% 0.117 206.83);
  --color-sky-aqua-400: oklch(85.01% 0.137 208.48);
  --color-sky-aqua-500: oklch(82.9% 0.144 211.3);
  --color-sky-aqua-600: oklch(70.31% 0.122 210.89);
  --color-sky-aqua-700: oklch(56.84% 0.098 210.36);
  --color-sky-aqua-800: oklch(42.55% 0.073 210.58);
  --color-sky-aqua-900: oklch(27.18% 0.046 206.54);
  --color-sky-aqua-950: oklch(21.87% 0.037 206.89);

  --color-electric-aqua-50: oklch(97.72% 0.025 202.82);
  --color-electric-aqua-100: oklch(95.88% 0.049 201.08);
  --color-electric-aqua-200: oklch(92.26% 0.091 201.74);
  --color-electric-aqua-300: oklch(89.65% 0.123 201.63);
  --color-electric-aqua-400: oklch(87.62% 0.141 202.79);
  --color-electric-aqua-500: oklch(86.53% 0.148 204.02);
  --color-electric-aqua-600: oklch(73.09% 0.125 204.17);
  --color-electric-aqua-700: oklch(59.24% 0.101 203.51);
  --color-electric-aqua-800: oklch(44.25% 0.075 203.58);
  --color-electric-aqua-900: oklch(28.13% 0.048 201.42);
  --color-electric-aqua-950: oklch(22.58% 0.038 203.52);

  --color-rosy-copper-50: oklch(95.44% 0.017 26.65);
  --color-rosy-copper-100: oklch(90.82% 0.033 27.11);
  --color-rosy-copper-200: oklch(81.78% 0.069 27.6);
  --color-rosy-copper-300: oklch(72.91% 0.109 27.7);
  --color-rosy-copper-400: oklch(64.91% 0.15 29.22);
  --color-rosy-copper-500: oklch(58.15% 0.186 30.72);
  --color-rosy-copper-600: oklch(49.45% 0.156 30.58);
  --color-rosy-copper-700: oklch(40.36% 0.124 30.33);
  --color-rosy-copper-800: oklch(30.89% 0.088 30.58);
  --color-rosy-copper-900: oklch(20.56% 0.05 29.94);
  --color-rosy-copper-950: oklch(17.15% 0.036 31.54);

  --color-charcoal-50: oklch(96.14% 0.001 286.37);
  --color-charcoal-100: oklch(92.22% 0.001 286.37);
  --color-charcoal-200: oklch(84.42% 0.004 247.87);
  --color-charcoal-300: oklch(76.29% 0.005 258.33);
  --color-charcoal-400: oklch(67.93% 0.006 264.52);
  --color-charcoal-500: oklch(59.52% 0.007 255.5);
  --color-charcoal-600: oklch(50.63% 0.007 264.51);
  --color-charcoal-700: oklch(41.57% 0.006 258.34);
  --color-charcoal-800: oklch(31.99% 0.005 247.97);
  --color-charcoal-900: oklch(21.38% 0.002 286.23);
  --color-charcoal-950: oklch(18.11% 0.002 197.01);

  --color-platinum-50: oklch(96.02% 0.003 247.86);
  --color-platinum-100: oklch(91.83% 0.009 264.52);
  --color-platinum-200: oklch(83.53% 0.016 266.26);
  --color-platinum-300: oklch(74.99% 0.026 265.54);
  --color-platinum-400: oklch(66.48% 0.034 263.43);
  --color-platinum-500: oklch(57.46% 0.045 263.46);
  --color-platinum-600: oklch(49.12% 0.036 263.29);
  --color-platinum-700: oklch(40.13% 0.031 265.23);
  --color-platinum-800: oklch(30.9% 0.021 265.9);
  --color-platinum-900: oklch(20.86% 0.013 264.25);
  /* best for dark mode background */
  --color-platinum-950: oklch(17.73% 0.009 264.32);

  --bg-onboard: url("../assets/onboardUserDef.jpg");
}

/*
  Custom scrollbar design
*/
@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-platinum-900);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-charcoal-500);
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-charcoal-200);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/*
  Applying font
*/
html {
  font-family: var(--font-outfit);
}

/* 
   Dots loading animation
*/
.loading-container {
  display: flex; /* Aligns text and dots horizontally */
  align-items: center;
}

.loading-text {
  margin-right: 1px; /* Space between text and dots */
}

.dot-animation::after {
  content: ""; /* Initial empty content for the pseudo-element */
  animation: dot-cycle 1.5s steps(1, end) infinite; /* Apply the animation */
}

/* 
  Modal custom animation
*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px) scale(0.95);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

/* 
  Loader label animation
*/
@keyframes dot-cycle {
  0% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "";
  } /* All dots disappear briefly */
  100% {
    content: ".";
  } /* Restart with one dot */
}

/* 
  Autofill input browser override classes
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #e5e5e6 !important;
  caret-color: #e5e5e6 !important;

  box-shadow: 0 0 0px 1000px #010101 inset !important;
  border: 1px solid #e5e5e6 !important;
  transition: background-color 9999s ease-in-out 0s;
}

// needed for @ autofill override
input:-webkit-autofill::first-line {
  -webkit-text-fill-color: #e5e5e6 !important;
}

/* Target more specific input that are out of forms */
.custom-autofill:-webkit-autofill,
.custom-autofill:-webkit-autofill:hover,
.custom-autofill:-webkit-autofill:focus {
  -webkit-text-fill-color: #e5e5e6 !important;
  caret-color: #e5e5e6 !important;

  box-shadow: 0 0 0px 1000px #010101 inset !important;
  border: 1px solid #010101 !important;
  transition: background-color 9999s ease-in-out 0s;
}

/* needed for @ autofill override */
.custom-autofill:-webkit-autofill::first-line {
  -webkit-text-fill-color: #010101 !important;
}

/* Country select custom style (react-flags-select) */
.selected-country-button {
  background-color: transparent;
  color: var(--color-tp-typography);
  border: 1px solid var(--color-tp-typography);
}

// Tick animation
@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }

  100% {
    stroke-dashoffset: 200px;
  }
}

@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }

  100% {
    stroke-dashoffset: 200px;
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }

  100% {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }

  100% {
    stroke-dashoffset: 960px;
  }
}

@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }

  100% {
    stroke-dashoffset: 480px;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }

  100% {
    stroke-dashoffset: 960px;
  }
}

@keyframes colored-circle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

// apply keyframes
.icon--order-success svg polyline {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}
.icon--order-success svg circle#colored {
  -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
  animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}

@theme {
  --animate-bg-shine: bg-shine 2.1s linear infinite;
}

@keyframes bg-shine {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}

@-moz-document url-prefix() {
  .firefox-hidden {
    display: none !important;
  }
}

/* Settings for datepicker on chrome = enabled to use custom icon */
/* Hide custom icon on firefox because it is not supported */
@layer components {
  .hide-datepicker-indicator {
    @apply relative flex items-center;
  }

  .hide-datepicker-indicator::-moz-calendar-picker-indicator {
    @apply opacity-0;
  }

  .hide-datepicker-indicator::-webkit-calendar-picker-indicator {
    @apply absolute top-0 right-0 z-20 m-0 h-full w-10 cursor-pointer opacity-0;
  }
}

// for loader, replace spin with l1
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

/* Loader with text filling */
.loaderFill {
  width: fit-content;
}

/* span will enable dynamic text with prop */
.loaderFill span {
  position: relative;
  display: inline-block;

  font-size: 30px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  color: #0000;
  -webkit-text-stroke: 0.3px #000;
  background:
    radial-gradient(0.71em at 50% 1em, #e5e5e6 99%, #0000 101%) calc(50% - 1em)
      1em/2em 200% repeat-x text,
    radial-gradient(0.71em at 50% -0.5em, #e5e5e6 99%, #e5e5e6 101%) 50%
      1.5em/2em 200% repeat-x text;
  animation:
    l10-0 0.6s linear infinite alternate,
    l10-1 3s linear infinite;
}

@keyframes l10-0 {
  to {
    background-position-x: 50%, calc(50% + 1em);
  }
}
@keyframes l10-1 {
  to {
    background-position-y: -0.5em, 0;
  }
}

/* Classic loader */
.loaderClassic {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  /* background: #514b82; */
  background: #ffeb33;
  -webkit-mask: radial-gradient(
    circle closest-side at 50% 40%,
    #0000 94%,
    #000
  );
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}
@keyframes l25 {
  100% {
    transform: rotate(1turn);
  }
}
