@import "tailwindcss";

@theme {
  --color-sunbeam-yellow-50: oklch(98.73% 0.03 100.86);
  --color-sunbeam-yellow-100: oklch(97.76% 0.059 102.29);
  --color-sunbeam-yellow-200: oklch(95.82% 0.114 102.92);
  --color-sunbeam-yellow-300: oklch(94.17% 0.157 103.13);
  --color-sunbeam-yellow-400: oklch(92.81% 0.184 102.69);
  --color-sunbeam-yellow-500: oklch(91.47% 0.191 101.03);
  --color-sunbeam-yellow-600: oklch(77.54% 0.162 101.53);
  --color-sunbeam-yellow-700: oklch(62.73% 0.131 101.72);
  --color-sunbeam-yellow-800: oklch(46.97% 0.098 102.09);
  --color-sunbeam-yellow-900: oklch(29.72% 0.062 103.01);
  --color-sunbeam-yellow-950: oklch(24.05% 0.051 102.7);
}
